/* o * antes das chaves quer dizer a configuracao padrao da pagina */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(99, 26, 105);    
}

main {
    background-color: burlywood;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}